<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login- Tick_it_in</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Login to Tick it in</h2>
        <form method="post" action="/login">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Dont have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>